#home {
    flex-direction: column;
    justify-content: space-around;
    height: 116vh;
}

.start-btn {
    background: #CEA93A;
    color: white;
    align-self: center;
}

@media screen and (max-width:768px) {
    .start-btn {
        align-self: left;
        width: 152px;
    }
}